.panel__content--compare {
    .search {
        width: 100%;
        max-width: 100%;
        input[type="text"] {
            background: var(--neutral---background--white);
            border-radius: 0;
            border-bottom: 1px solid var(--neutral---gray--light);
        }
    }

    .button--outline {
        margin-top: 1rem;
    }
    .search {
        margin: 1rem 0;
    }
}