.country-profile {
    path {
        fill: none;
    }

    .country-path {
        stroke-width: 5;
        stroke-linecap: round;
        stroke: #000;
    }

    .label {
        text {
            font-size: 0.625rem;
            fill: var(--neutral---white);
        }

        &-connector {
            stroke-width: 1;
            stroke: #181818;
        }
    }

    .axis {
        &.y-axis {
            path {
                stroke: none;
            }
        }

        line,
        path {
            stroke: var(--neutral---gray--medium);
        }

        text {
            font-size: 0.6875rem;
        }
    }

    .hover-points {
        rect {
            opacity: 0;
        }
    }
}