.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem;
    text-transform: uppercase;
    color: var(--neutral---gray--dark);
    &--freedom, &--prosperity {
        svg {
            display: block;
            margin-right: 0.25rem;
        }
        path {
            // &.no-stroke {
            //     fill-rule: evenodd;
            // }
            // &:not(.no-stroke) {
            //     fill: rgba(255, 255, 255, 0);
            // }
            fill: var(--neutral---gray--dark);
            fill-rule: nonzero;
        }
    }

    &--prosperity {
        path {
            fill: var(--neutral---gray--dark);
            fill-rule: evenodd;
        }

        &.button--selected {
            svg {
                path {
                    fill: var(--neutral---gray--dark);
                    fill-rule: nonzero;
                }
            }
        }
    }

    &--freedom {
        path {
            fill: none;
            fill-rule: evenodd;
        }

        &.button--selected {
            svg {
                path {
                    fill: var(--neutral---gray--dark);
                    fill-rule: nonzero;
                }
            }
        }
    }
    &--close {
        background: var(--neutral---white);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        z-index: 1000;
    }

    &--sort {
        display: flex;
        flex-direction: row-reverse;

        svg {
            margin-left: 0.25rem;
        }

        &[data-direction="asc"] {
            svg {
                transform: rotateZ(180deg) rotateY(180deg);
            }
        }
        &[data-direction="default"] {
            svg {
                opacity: 0.3;
            }
        }
    }

    &--outline {
        border: 1px solid var(--neutral---text);
        border-radius: 5px;
        text-transform: none;
    }
}