.mode-controls {
    display: flex;
    margin-left: -0.625rem;

    .button {
        background: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        border: 1px solid var(--neutral---gray--light);
        border-left: none;
        margin-top: -1px;
        width: 9.25rem;
        justify-content: center;

        &--selected {
            background: #FBFBFB;
            box-shadow: none;
        }

        &:first-child {
            border-left: 1px solid var(--neutral---gray--light);
        }
    }
}