.freedom-prosperity-map {
    padding: 0 0 5rem 0;
    height: calc(100vh - 13rem);

    path,
    circle {
        cursor: pointer;
    }

    .map__countries {
        path {
            stroke: #fff;
            fill: #F2F2F2;
            stroke-width: 0.5px;
        }
    }

    .map__centroids {
        circle {
            stroke: var(--neutral---black);
            opacity: 1;
            transition: opacity 150ms, stroke 150ms;
        }
    }

    &--freedom-only {
        .map__centroids {
            circle {
                opacity: 0;
            }
        }
    }

    &--prosperity-only {
        .map__centroids {
            circle {
                stroke: var(--neutral---white);
            }
        }
    }
}