.panel__country-overview {
    margin-bottom: 3.75rem;
    .score-bar {
        width: 7rem;
        &__container {
            display: flex;
            align-items: center;
        }
        &__label {
            margin-right: 1rem;
            width: 3rem;
        }
    }
    .column--rank {
        flex: 100px 0 0;
        margin-right: 3rem;
    }
    
    .panel__overview__values {
        padding: 0 0.875rem 0.875rem 0.875rem;
        border-top: 1px solid var(--neutral---gray--light);
    }

    .category {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        padding: 0.875rem;
        border-top: 1px solid var(--neutral---gray--light);
        border-bottom: 1px solid var(--neutral---gray--light);
        &__value {
            margin-left: 1rem;
        }
    }

    &__subindicator {
        border-bottom: 1px solid var(--neutral---gray--light);
        padding: 0.5rem 0.875rem 0.125rem 0.875rem;
        h6 {
            margin-top: 0;
        }
    }
}