.logo {
    width: 8.5rem;
}

.page {
    min-height: 100vh;
    padding-top: 6rem;
    margin-top: -6rem;
}

.container {
    max-width: $MAX_WIDTH;
    padding: 0 1rem;
    margin: 0 auto;
}

.flex {
    &-row {
        display: flex;
        flex-direction: row;
    }
}

.justify {
    &-space-between {
        align-items: center;
        justify-content: space-between;
    }

    &-end {
        justify-content: flex-end;
    }
}

.p {
    &-0 {
        padding: 0;
    }
}

.page__header {
    background: var(--neutral---white);
    padding-bottom: 2rem;
    border-bottom: var(--neutral---gray--medium) 1px solid;
}