$MAX_WIDTH: 1440px;

:root {
    --free: rgba(71, 148, 75, 1);
    --prosperous: var(--free);
    --mostly-free: rgba(177, 216, 120, 1);
    --mostly-prosperous: var(--mostly-free);
    --mostly-unfree: rgba(225, 143, 106, 1);
    --mostly-unprosperous: var(--mostly-unfree);
    --unfree: rgba(198, 50, 42, 1);
    --unprosperous: var(--unfree);

    --neutral---white: rgba(255, 255, 255, 1);
    --neutral---background--white: rgba(242, 242, 242, 1);
    --neutral---gray--light: rgba(230, 230, 230, 1);
    --neutral---gray--medium: rgba(179, 179, 179, 1);
    --neutral---gray--dark: rgba(102, 102, 102, 1);
    --neutral---text: rgba(24, 24, 24, 1);
    --neutral---black: rgba(0, 0, 0, 1);

    --color--chart-1: #E75B5C;
    --color--chart-2: #4A2DBD;
}