$MAX_WIDTH: 1440px;

:root {
    --free: rgba(71, 148, 75, 1);
    --prosperous: var(--free);
    --mostly-free: rgba(177, 216, 120, 1);
    --mostly-prosperous: var(--mostly-free);
    --mostly-unfree: rgba(225, 143, 106, 1);
    --mostly-unprosperous: var(--mostly-unfree);
    --unfree: rgba(198, 50, 42, 1);
    --unprosperous: var(--unfree);

    --neutral---white: rgba(255, 255, 255, 1);
    --neutral---background--white: rgba(242, 242, 242, 1);
    --neutral---gray--light: rgba(230, 230, 230, 1);
    --neutral---gray--medium: rgba(179, 179, 179, 1);
    --neutral---gray--dark: rgba(102, 102, 102, 1);
    --neutral---text: rgba(24, 24, 24, 1);
    --neutral---black: rgba(0, 0, 0, 1);

    --a-c--brand---orange: rgba(232, 115, 60, 1);
    --a-c--brand---navy: rgba(0, 4, 120, 1);
    --a-c--brand---green: rgba(111, 154, 26, 1);
    --a-c--brand---seagreen: rgba(47, 190, 163, 1);
    --a-c--brand---denim: rgba(0, 85, 150, 1);
    --a-c--brand---yellow: rgba(255, 192, 46, 1);
    --a-c--brand---stone: rgba(35, 76, 106, 1);
    
    --neutral-2---dark: rgba(149, 158, 173, 1);
    --neutral-2---medium: rgba(188, 191, 198, 1);
    --neutral-2---light: rgba(237, 237, 237, 1);

    --color--chart--1: #E75B5C;
    --color--chart--freedom: var(--color--chart--1);
    --color--chart--2: #4A2DBD;
    --color--chart--prosperity: var(--color--chart--2);
    --color--chart--3: rgb(232, 111, 0);
    --color--chart--economic-freedom: var(--color--chart--3);
    --color--chart--4: rgb(11, 168, 27);
    --color--chart--political-freedom: var(--color--chart--4);
    --color--chart--5: #3091E5;
    --color--chart--legal-freedom: var(--color--chart--5);

    --color--hover--table: #F8FAFF;
}