.filters {

    &--prosperity,
    &--freedom {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;

        .button {
            font-size: 0.75rem;

        }
    }
}