.panel__content--country-profiles {
    .icon--category__color {
        --category-color: var(--neutral-2---dark);
    }

    .category {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        svg {
            height: 1.75rem;
        }
    }

    .panel__content__inner {
        height: 100%;
        >.flex-row {
            border-top: 1px solid var(--neutral---gray--light);

            >div {
                flex: 0 0 50%;
                padding: 1.125rem 0.75rem;

                &:first-child {
                    border-right: 1px solid var(--neutral---gray--light);
                }
            }
            &:last-of-type {
                height: 100%;
            }

        }
    }

    label {
        font-size: 0.875rem;
        color: var(--neutral---text);
    }

    .checkbox {
        margin: 0.625rem 0;
    }

    &__checkboxes {
        &__subsection {
            margin: 0 0 2rem 0;
        }

        &__subsubsection {
            label {
                color: var(--neutral---gray--dark);
            }
        }
    }

    &__clear-filters {
        border: 0.5px solid var(--neutral---gray--medium);
        text-transform: none;
        border-radius: 5px;
        margin: 1.125rem 0.75rem;
        &:hover {
            background: var(--neutral---gray--light);
        }
    }
}