$MAP_HEIGHT: 12rem;

.panel__content {
    &--map {
        .freedom-and-prosperity-table {
            margin-top: 0;

            thead {
                display: none;
            }
        }
    }

    &__country-info {
        min-height: $MAP_HEIGHT;
        position: relative;
    }

    .mode-controls {
        padding: 0 0.75rem 2rem 1.75rem;
        border-bottom: 1px solid var(--neutral---gray--dark);
        .button {
            background: var(--neutral---white);
            box-shadow: none;
            &:first-child {
                border-top-left-radius: 5px;
            }
            &:last-child {
                border-top-right-radius: 5px;
            }
            &:not(.button--selected) {
                opacity: 0.5;
            }
        }
    }

    .mini-map {
        width: $MAP_HEIGHT;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}