$MAP_HEIGHT: 12rem;

.panel__content {

    &--map {
        h2,
        h4 {
            max-width: calc(100% - 13rem);
            line-height: 100%;
        }

        .freedom-and-prosperity-table {
            margin-top: 2rem;
            .button {
                text-transform: none;
                padding: 0.5rem 0.75rem;
                width: 100%;
            }

            thead {
                tr {
                    border-top: 1px solid var(--neutral---gray--light);
                    border-bottom: 1px solid var(--neutral---gray--light);
                }
            }

            tr {
                border: none;
            }
            th {
                padding: 0.5rem 0.75rem;
            }
            th {
                border-bottom: 0;
                .button {
                    color: #629BFA;
                }
                svg {
                    display: none;
                }
            }
            td:not(:last-child), th:not(:last-child) {
                border: none;
            }

            td {
                padding: 0;
                &[data-col="Name"] {
                    font-weight: 700;
                    font-size: 0.875rem;
                }
            }
        }

        .panel__content__country-info {
            min-height: $MAP_HEIGHT;
            position: relative;
        }
    }

    .mode-controls {
        padding: 0 0.75rem 2rem 1.75rem;
        border-bottom: 1px solid var(--neutral---gray--dark);

        .button {
            background: var(--neutral---white);
            box-shadow: none;

            &:first-child {
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }

            &:not(.button--selected) {
                opacity: 0.5;
            }
        }
    }

    .mini-map {
        width: $MAP_HEIGHT;
        margin-top: 2rem;
    }
}