@import './partials/variables';
@import './partials/reset';
@import './partials/layout';
@import './partials/typography';

.logo {
    width: 8.5rem;
}
.sections {
    min-height: calc(100vh - 6rem);
}

.page {
    padding-top: 6rem;
    margin-top: -6rem;
}