.accordion {
    h6 {
        margin: 0;
    }

    .button--caret {
        position: absolute;
        right: 2rem;
        top: 1rem;

        svg {
            transition: transform 400ms;
        }
    }

    &--open {
        .button--caret {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &__header {
        background: #DFE6F2;
        position: relative;
        h6 {
            font-weight: 700;
        }

        .score-bar {
            background: var(--neutral---white);
        }
    }
}